<div class="row">
    <div class="col-md-12">
        <div class="content-header">Army List</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="vm.list.name">
            </div>
            <div class="form-group">
                <label for="inputGrandArmyList">Grand Army List</label>
                <select class="form-control" id="inputGrandArmyList" ng-options="gal as gal.name for gal in vm.grandArmyLists track by gal.id" ng-model="vm.galSelected">
                    <option value="">-- choose a grand army list --</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="content-subheader">Date Ranges</div>
                    <button type="button" class="btn btn-sm insert-btn" ng-click="vm.insertDateRange()">Insert Date Range</button>
                    <table class="table table-bordered" st-table="displayedDateRanges" st-safe-src="vm.list.dateRanges">
                        <thead>
                        <tr>
                            <th st-sort="startDate" st-sort-default="true" st-skip-natural="true">Start Date</th>
                            <th st-sort="endDate" st-skip-natural="true">End Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dateRange in displayedDateRanges">
                            <td>{{ dateRange.startDate | mwDisplayYear }}</td>
                            <td>{{ dateRange.endDate | mwDisplayYear }}</td>
                            <td class="td-btn">
                                <button type="button" ng-click="vm.editDateRange(dateRange)" class="btn btn-sm btn-warning">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                            </td>
                            <td class="td-btn">
                                <button type="button" ng-click="vm.deleteDateRange(dateRange)" class="btn btn-sm btn-danger">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="submit" class="btn save-btn" ng-click="vm.submit()">Save Changes</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn delete-btn" ng-click="vm.delete()" ng-show="vm.delete">Delete Army List</button>
    </div>
</div>