<div class="content row">
    <div class="col-md-12">
        <h1>Army Lists</h1>
    </div>
</div>
<div class="content row search-box-container">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <input type="text" class="form-control table-search-box" id="inputSearchName" placeholder="Search by name" ng-model="vm.searchName" ng-change="vm.searchChanged()">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 search-box-option">
        <input id="input-include-keywords-checkbox" type="checkbox" ng-model="vm.includeKeywords" ng-change="vm.searchChanged()">
        Include keywords in search
    </div>
</div>
<div class="content row">
    <div class="col-md-12">
        <div id="army-list-grid" class="army-list-grid" ui-grid="vm.armyListGridOptions"></div>
    </div>
</div>
<div class="content row" ng-show="vm.create">
    <div class="col-md-12">
        <div>
            <button class="btn save-btn" ng-click="vm.create()">Create New</button>
        </div>
    </div>
</div>

