<div class="row">
    <div class="col-md-12">
        <div class="content-header">Army List</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="vm.armyList.name">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="inputUserCode">Code</label>
                        <input type="text" class="form-control" id="inputUserCode" placeholder="code" ng-model="vm.armyList.userCode">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputGrandArmyList">Grand Army List</label>
                <select class="form-control" id="inputGrandArmyList" ng-options="gal as gal.name for gal in vm.grandArmyLists track by gal.id" ng-model="vm.galSelected">
                    <option value="">-- choose a grand army list --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea class="form-control" id="inputDescription" placeholder="Description of the army list" ng-model="vm.armyList.description"></textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="content-subheader">Date Ranges</div>
                        <button type="button" class="btn btn-sm insert-btn" ng-click="vm.insertDateRange()">New Date Range</button>
                        <div id="date-range-grid" class="date-range-grid" ui-grid="vm.dateRangeGridOptions"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <div class="content-subheader">Troop Options</div>
                        <button type="button" class="btn btn-sm insert-btn" ng-click="vm.insertTroopOption()">New Troop Option</button>
                        <div id="troop-option-grid" class="troop-option-grid" ui-grid="vm.troopOptionGridOptions"></div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn save-btn" ng-click="vm.submit()">Save Changes</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn delete-btn" ng-click="vm.delete()" ng-show="vm.delete">Delete Army List</button>
    </div>
</div>