<div id="army-list-explore-view">

<!-- Army List Name and Date Range -->
<div class="row">
    <div class="col-xs-12">
        <h1>
            <span ng-bind="vm.armyList.name"></span>
            <div ng-repeat="dateRange in vm.armyList.dateRanges">
                <small>
                    {{ dateRange.startDate | mwDisplayYear }}
                    <span ng-hide="dateRange.startDate === dateRange.endDate">to {{ dateRange.endDate | mwDisplayYear }}</span>
                </small>
            </div>
        </h1>
        <h1 class="empty-table-message" ng-show="vm.armyListLoading">
            <span>&nbsp;</span>
            <div>
                <small>
                    &nbsp;
                </small>
            </div>
        </h1>
        <div class="error-table-message" ng-show="vm.loadFailed.armyList">Unable to retrieve army list data</div>
        <div class="empty-table-message" ng-show="vm.armyList.dateRanges.length === 0">No date ranges entered</div>
    </div>
</div>

<!-- Status and Description -->
<div class="row">
    <div class="col-xs-12">
        <div ng-hide="!vm.armyList.description">
            <div class="content-subheader">Description</div>
            <div>
                <span ng-bind="vm.armyList.description"></span>
            </div>
        </div>
    </div>
</div>

<!-- Ratings, etc. -->
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <!-- Invasion Rating -->
            <div class="col-xs-12">
                <div class="content-subheader">Invasion Rating</div>
                <table class="army-list-rating">
                    <tr ng-repeat="rating in vm.armyList.invasionRatings">
                        <td class="army-list-rating">{{ rating.value }}</td>
                        <td class="army-list-rating-note">{{ rating.note }}</td>
                    </tr>
                </table>
                <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
                <div class="empty-table-message" ng-show="vm.armyList.invasionRatings.length === 0">No invasion ratings entered</div>
            </div>
            <!-- Maneuver Rating -->
            <div class="col-xs-12">
                <div class="content-subheader">Maneuver Rating</div>
                <table class="army-list-rating">
                    <tr ng-repeat="rating in vm.armyList.maneuverRatings">
                        <td class="army-list-rating">{{ rating.value }}</td>
                        <td class="army-list-rating-note">{{ rating.note }}</td>
                    </tr>
                </table>
                <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
                <div class="empty-table-message" ng-show="vm.armyList.maneuverRatings.length === 0">No maneuver ratings entered</div>
            </div>
            <!-- Home Topography -->
            <div class="col-xs-12">
                <div class="content-subheader">Home Topography</div>
                <dl class="dl-horizontal-topo">
                    <div class="home-topography" ng-repeat="topography in vm.armyList.homeTopographies">
                        <div>{{ topography | mwDisplayTopography }}</div>
                    </div>
                </dl>
                <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
                <div class="empty-table-message" ng-show="vm.armyList.maneuverRatings.length === 0">No topographies entered</div>
            </div>
            <!-- General -->
            <div class="col-xs-12">
                <div class="content-subheader">General's Troop Type</div>
                <table>
                    <tr ng-repeat="troopEntry in vm.armyList.troopEntriesForGeneral">
                        <td class="general-priority-entry"ng-show="vm.armyList.troopEntriesForGeneral.length > 1">
                            <span ng-show="$first">If Present</span>
                            <span ng-hide="$first">Otherwise</span>
                        </td>
                        <td class="general-entry">
                            <span>{{ troopEntry | mwDisplayGeneralEntriesList }}</span>
                        </td>
                    </tr>
                </table>
                <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
                <div class="empty-table-message" ng-show="vm.armyList.troopEntriesForGeneral.length === 0">General not entered</div>
            </div>

            <!-- Army Battle Cards -->
            <div class="col-xs-12">
                <div class="content-subheader">Army Battle Cards</div>
                <table>
                    <tr ng-repeat="battleCardEntry in vm.armyList.armyBattleCardEntries">
                        <td class="battle-card-entry">
                            <span>{{ battleCardEntry | mwDisplayBattleCardEntriesList }}</span>
                        </td>
                    </tr>
                </table>
                <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
                <div class="battle-card-none-entry" ng-show="vm.armyList.armyBattleCardEntries.length === 0">None</div>
            </div>
        </div>
    </div>
</div>

<!-- Troop Options -->
<div class="row">
    <div class="col-xs-12">
        <h2>Troop Options</h2>
        <div class="content-text">
            Showing troop options for:
        </div>
        <div class="btn-group rule-selection-btn-group" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                {{ vm.armySizeSelectionText }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a ng-click="vm.onSelectArmySize('standard')">Standard Triumph</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a ng-click="vm.onSelectArmySize('grand-three')">Grand Triumph (3 Main Army Commands)</a></li>
                <li role="menuitem"><a ng-click="vm.onSelectArmySize('grand-two')">Grand Triumph (2 Main Army Commands)</a></li>
                <li role="menuitem"><a ng-click="vm.onSelectArmySize('grand-one')">Grand Triumph (1 Main Army Command)</a></li>
                <li role="menuitem"><a ng-click="vm.onSelectArmySize('grand-ally')">Grand Triumph (Ally Command)</a></li>
            </ul>
        </div>

        <div>
            <h3 class="collapsible-info troop-option-header" ng-click="showRequiredTroopsInfo = !showRequiredTroopsInfo">Required Troops</h3>
            <div uib-collapse="!showRequiredTroopsInfo">
                <div class="panel panel-default">
                    <div class="panel-body">
                        These troops are part of the main army. The minimum and maximum always apply unless overridden by the restrictions.
                    </div>
                </div>
            </div>

            <table class="table troop-options hidden-xs">
                <tr>
                    <th class="troop-options-type">Troop Types</th>
                    <th class="troop-options-minmax">Min</th>
                    <th class="troop-options-minmax">Max</th>
                    <th class="troop-options-battleline">Battle Line</th>
                    <th class="troop-options-restrictions">Restrictions</th>
                </tr>
                <tbody>
                <tr ng-repeat="troopOption in vm.armyList.troopOptions">
                    <td class="troop-options-type">
                        {{ troopOption.troopEntries | mwDisplayTroopTypeEntriesList }}
                        </br>
                        <span ng-show="vm.armyList.showTroopOptionDescriptions"><em>{{ troopOption.description }}</em></span>
                    </td>
                    <td class="troop-options-minmax" ng-show="vm.armySize === 'single'">{{ troopOption.min }}</td>
                    <td class="troop-options-minmax" ng-show="vm.armySize === 'double'">{{ troopOption.minDouble }}</td>
                    <td class="troop-options-minmax" ng-show="vm.armySize === 'triple'">{{ troopOption.minTriple }}</td>
                    <td class="troop-options-minmax" ng-show="vm.armySize === 'single'">{{ troopOption.max }}</td>
                    <td class="troop-options-minmax" ng-show="vm.armySize === 'double'">{{ troopOption.maxDouble }}</td>
                    <td class="troop-options-minmax" ng-show="vm.armySize === 'triple'">{{ troopOption.maxTriple }}</td>
                    <td class="troop-options-battleline">{{ troopOption.core | mwDisplayCore }}</td>
                    <td class="troop-options-restrictions">
                        {{ troopOption.dateRange | mwDisplayDateRange }}
                        <span ng-if="troopOption.dateRange && troopOption.note"></br></span>
                        {{ troopOption.note }}
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table troop-options visible-xs">
                <tr ng-repeat="troopOption in vm.armyList.troopOptions">
                    <td><table class="troop-options">
                        <tr>
                            <td colspan="2">
                                {{ troopOption.troopEntries | mwDisplayTroopTypeEntriesList }}
                                </br>
                                <span ng-show="vm.armyList.showTroopOptionDescriptions"><em>{{ troopOption.description }}</em></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="troop-options-header-xs">Min:</td>
                            <td class="troop-options-value-xs" ng-show="vm.armySize === 'single'">{{ troopOption.min }}</td>
                            <td class="troop-options-value-xs" ng-show="vm.armySize === 'double'">{{ troopOption.minDouble }}</td>
                            <td class="troop-options-value-xs" ng-show="vm.armySize === 'triple'">{{ troopOption.minTriple }}</td>
                        </tr>
                        <tr>
                            <td class="troop-options-header-xs">Max:</td>
                            <td class="troop-options-value-xs" ng-show="vm.armySize === 'single'">{{ troopOption.max }}</td>
                            <td class="troop-options-value-xs" ng-show="vm.armySize === 'double'">{{ troopOption.maxDouble }}</td>
                            <td class="troop-options-value-xs" ng-show="vm.armySize === 'triple'">{{ troopOption.maxTriple }}</td>
                        </tr>
                        <tr>
                            <td class="troop-options-header-xs">Battle Line:</td>
                            <td class="troop-options-value-xs">{{ troopOption.core | mwDisplayCore }}</td>
                        </tr>
                        <tr ng-show="troopOption.dateRange || troopOption.note">
                            <td class="troop-options-header-xs">Restrictions:</td>
                            <td>
                                {{ troopOption.dateRange | mwDisplayDateRange }}
                                <span ng-if="troopOption.dateRange && troopOption.note"></br></span>
                                {{ troopOption.note }}
                            </td>
                        </tr>
                    </table></td>
                </tr>
            </table>
            <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
            <div class="empty-table-message" ng-show="vm.armyList.troopOptions.length === 0">No troop options entered</div>
        </div>
    </div>
</div>

<!-- Optional Contingents -->
<div class="row optional-contingents">
    <div class="col-xs-12">
        <h3 class="collapsible-info troop-option-header" ng-click="showOptionalContingentsInfo = !showOptionalContingentsInfo">Optional Contingents</h3>
        <div uib-collapse="!showOptionalContingentsInfo">
            <div class="panel panel-default">
                <div class="panel-body">
                    These troops are part of the main army but are in an optional contingent.
                    The minimum and maximum only apply if the contingent is selected.
                    In the cases where there is more than one optional contingent, the player may select any or all of the optional contingents.
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-repeat="contingent in vm.troopContingents">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ contingent.name }}
                    <div>
                        <small>
                            {{ contingent.dateRange.startDate | mwDisplayYear }}
                            <span ng-hide="contingent.dateRange.startDate === contingent.dateRange.endDate">to {{ contingent.dateRange.endDate | mwDisplayYear }}</span>
                        </small>
                    </div>
                </h4>
            </div>
            <div class="panel-body">
                <table class="table troop-options hidden-xs">
                    <tr>
                        <th class="troop-options-type">Troop Types</th>
                        <th class="troop-options-minmax">Min</th>
                        <th class="troop-options-minmax">Max</th>
                        <th class="troop-options-battleline">Battle Line</th>
                        <th class="troop-options-restrictions">Restrictions</th>
                    </tr>
                    <tbody>
                    <tr ng-repeat="troopOption in contingent.troopOptions" ng-hide="troopOption.dateRange && troopOption.dateRange.invalid">
                        <td class="troop-options-type">
                            {{ troopOption.troopEntries | mwDisplayTroopTypeEntriesList }}
                            </br>
                            <span ng-show="vm.armyList.showTroopOptionDescriptions"><em>{{ troopOption.description }}</em></span>
                        </td>
                        <td class="troop-options-minmax" ng-show="vm.armySize === 'single'">{{ troopOption.min }}</td>
                        <td class="troop-options-minmax" ng-show="vm.armySize === 'double'">{{ troopOption.minDouble }}</td>
                        <td class="troop-options-minmax" ng-show="vm.armySize === 'triple'">{{ troopOption.minTriple }}</td>
                        <td class="troop-options-minmax" ng-show="vm.armySize === 'single'">{{ troopOption.max }}</td>
                        <td class="troop-options-minmax" ng-show="vm.armySize === 'double'">{{ troopOption.maxDouble }}</td>
                        <td class="troop-options-minmax" ng-show="vm.armySize === 'triple'">{{ troopOption.maxTriple }}</td>
                        <td class="troop-options-battleline">{{ troopOption.core | mwDisplayCore }}</td>
                        <td class="troop-options-restrictions">{{ troopOption.dateRange | mwDisplayDateRange }}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table troop-options visible-xs">
                    <tr ng-repeat="troopOption in contingent.troopOptions" ng-hide="troopOption.dateRange && troopOption.dateRange.invalid">
                        <td><table class="troop-options">
                            <tr>
                                <td colspan="2">
                                    {{ troopOption.troopEntries | mwDisplayTroopTypeEntriesList }}
                                    </br>
                                    <span ng-show="vm.armyList.showTroopOptionDescriptions"><em>{{ troopOption.description }}</em></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="troop-options-header-xs">Min:</td>
                                <td class="troop-options-value-xs" ng-show="vm.armySize === 'single'">{{ troopOption.min }}</td>
                                <td class="troop-options-value-xs" ng-show="vm.armySize === 'double'">{{ troopOption.minDouble }}</td>
                                <td class="troop-options-value-xs" ng-show="vm.armySize === 'triple'">{{ troopOption.minTriple }}</td>
                            </tr>
                            <tr>
                                <td class="troop-options-header-xs">Max:</td>
                                <td class="troop-options-value-xs" ng-show="vm.armySize === 'single'">{{ troopOption.max }}</td>
                                <td class="troop-options-value-xs" ng-show="vm.armySize === 'double'">{{ troopOption.maxDouble }}</td>
                                <td class="troop-options-value-xs" ng-show="vm.armySize === 'triple'">{{ troopOption.maxTriple }}</td>
                            </tr>
                            <tr>
                                <td class="troop-options-header-xs">Battle Line:</td>
                                <td class="troop-options-value-xs">{{ troopOption.core | mwDisplayCore }}</td>
                            </tr>
                            <tr ng-show="troopOption.dateRange || troopOption.note">
                                <td class="troop-options-header-xs">Restrictions:</td>
                                <td>
                                    {{ troopOption.dateRange | mwDisplayDateRange }}
                                    <span ng-if="troopOption.dateRange && troopOption.note"></br></span>
                                    {{ troopOption.note }}
                                </td>
                            </tr>
                        </table></td>
                    </tr>
                </table>
                <div class="empty-table-message" ng-show="allyEntry.allyArmyList.troopOptions.length === 0">No troop options entered</div>
            </div>
        </div>
        <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
        <div class="empty-table-message" ng-show="vm.troopContingents.length === 0">No optional contingents available</div>
    </div>
</div>

<!-- Ally Options -->
<div class="row ally-options">
    <div class="col-xs-12">
        <h3 class="collapsible-info troop-option-header" ng-click="showAllyOptionsInfo = !showAllyOptionsInfo">Ally Troop Options</h3>
        <div uib-collapse="!showAllyOptionsInfo">
            <div class="panel panel-default">
                <div class="panel-body">
                    These troops are not part of the main army.
                    The minimum and maximum only apply if the ally option is selected.
                    No more than one ally option may be selected.
                    Most ally options only include one allied contingent.
                    Some ally options include two allied contingents.
                </div>
            </div>
        </div>
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" ng-repeat="allyOption in vm.allyOptions">
                <uib-accordion-heading>
                    <div>
                        <div>
                            Option {{ $index + 1 }}:  {{ allyOption.name }}
                        </div>
                        <div>
                            <small>
                                {{ allyOption.dateRange.startDate | mwDisplayYear }}
                                <span ng-hide="allyOption.dateRange.startDate === allyOption.dateRange.endDate">to {{ allyOption.dateRange.endDate | mwDisplayYear }}</span>
                            </small>
                        </div>
                    </div>
                </uib-accordion-heading>
                <div ng-repeat="allyEntry in allyOption.allyEntries">
                    <h5 ng-hide="allyOption.allyEntries.length === 1">
                        Allied Contingent: {{ allyEntry.name }}
                    </h5>
                    <table class="table troop-options hidden-xs" ng-show="vm.armySizeSelection === 'standard' || (vm.armySizeSelection !== 'grand-ally' && !allyEntry.allyArmyList.armyListId)">
                        <tr>
                            <th class="troop-options-type">Troop Types</th>
                            <th class="troop-options-minmax">Min</th>
                            <th class="troop-options-minmax">Max</th>
                            <th class="troop-options-restrictions">Restrictions</th>
                        </tr>
                        <tbody>
                        <tr ng-repeat="troopOption in allyEntry.allyArmyList.troopOptions" ng-hide="troopOption.dateRange && troopOption.dateRange.invalid">
                            <td class="troop-options-type">
                                {{ troopOption.troopEntries | mwDisplayTroopTypeEntriesList }}
                                </br>
                                <span ng-show="vm.armyList.showTroopOptionDescriptions"><em>{{ troopOption.description }}</em></span>
                            </td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'single'">{{ troopOption.min }}</td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'double'">{{ troopOption.minDouble }}</td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'triple'">{{ troopOption.minTriple }}</td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'single'">{{ troopOption.max }}</td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'double'">{{ troopOption.maxDouble }}</td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'triple'">{{ troopOption.maxTriple }}</td>

                            <td class="troop-options-restrictions">{{ troopOption.dateRange | mwDisplayDateRange }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table troop-options visible-xs"  ng-show="vm.armySizeSelection === 'standard' || (vm.armySizeSelection !== 'grand-ally' && !allyEntry.allyArmyList.armyListId)">
                        <tr ng-repeat="troopOption in allyEntry.allyArmyList.troopOptions" ng-hide="troopOption.dateRange && troopOption.dateRange.invalid">
                            <td><table class="troop-options">
                                <tr>
                                    <td colspan="2">
                                        {{ troopOption.troopEntries | mwDisplayTroopTypeEntriesList }}
                                        </br>
                                        <span ng-show="vm.armyList.showTroopOptionDescriptions"><em>{{ troopOption.description }}</em></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="troop-options-header-xs">Min:</td>
                                    <td class="troop-options-value-xs" ng-show="vm.armySize === 'single'">{{ troopOption.min }}</td>
                                    <td class="troop-options-value-xs" ng-show="vm.armySize === 'double'">{{ troopOption.minDouble }}</td>
                                    <td class="troop-options-value-xs" ng-show="vm.armySize === 'triple'">{{ troopOption.minTriple }}</td>
                                </tr>
                                <tr>
                                    <td class="troop-options-header-xs">Max:</td>
                                    <td class="troop-options-value-xs" ng-show="vm.armySize === 'single'">{{ troopOption.max }}</td>
                                    <td class="troop-options-value-xs" ng-show="vm.armySize === 'double'">{{ troopOption.maxDouble }}</td>
                                    <td class="troop-options-value-xs" ng-show="vm.armySize === 'triple'">{{ troopOption.maxTriple }}</td>
                                </tr>
                                <tr ng-show="troopOption.dateRange || troopOption.note">
                                    <td class="troop-options-header-xs">Restrictions:</td>
                                    <td>
                                        {{ troopOption.dateRange | mwDisplayDateRange }}
                                        <span ng-if="troopOption.dateRange && troopOption.note"></br></span>
                                        {{ troopOption.note }}
                                    </td>
                                </tr>
                            </table></td>
                        </tr>
                    </table>
                    <hr>
                    <div class="ally-army-list-link" ng-show="allyEntry.allyArmyList.armyListId">
                        Full Army List: <a href ng-click="vm.onClickArmyList(allyEntry.allyArmyList.armyListId)">{{ allyEntry.allyArmyList.name }}</a>
                    </div>
                    <div class="ally-army-list-link" ng-hide="allyEntry.allyArmyList.armyListId">
                        Full Army List: not available
                    </div>
                    <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
                    <div class="error-table-message" ng-show="vm.loadFailed.armyList">Unable to retrieve ally option data</div>
                    <div class="empty-table-message" ng-show="allyEntry.allyArmyList.troopOptions.length === 0">No troop options entered</div>
                </div>
            </div>
        </uib-accordion>
        <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
        <div class="error-table-message" ng-show="vm.loadFailed.armyList">Unable to retrieve ally option data</div>
        <div class="empty-table-message" ng-show="vm.allyOptions.length === 0">No ally options available</div>
    </div>
</div>

    <!-- Printable Ally Options -->
    <div class="row ally-options-print">
        <div class="col-xs-12">
            <h3>Ally Troop Options</h3>
            <div ng-repeat="allyOption in vm.allyOptions">
                <div class="ally-options-header">
                    Option {{ $index + 1 }}:  {{ allyOption.name }}
                </div>
                <div>
                    <small>
                        {{ allyOption.dateRange.startDate | mwDisplayYear }}
                        <span ng-hide="allyOption.dateRange.startDate === allyOption.dateRange.endDate">to {{ allyOption.dateRange.endDate | mwDisplayYear }}</span>
                    </small>
                </div>
                <div ng-repeat="allyEntry in allyOption.allyEntries">
                    <h5 ng-hide="allyOption.allyEntries.length === 1">
                        Allied Contingent: {{ allyEntry.name }}
                    </h5>
                    <table class="table troop-options" ng-show="vm.armySizeSelection === 'standard' || (vm.armySizeSelection !== 'grand-ally' && !allyEntry.allyArmyList.armyListId)">
                        <tr>
                            <th class="troop-options-type">Troop Types</th>
                            <th class="troop-options-minmax">Min</th>
                            <th class="troop-options-minmax">Max</th>
                            <th class="troop-options-restrictions">Restrictions</th>
                        </tr>
                        <tbody>
                        <tr ng-repeat="troopOption in allyEntry.allyArmyList.troopOptions" ng-hide="troopOption.dateRange && troopOption.dateRange.invalid">
                            <td class="troop-options-type">
                                {{ troopOption.troopEntries | mwDisplayTroopTypeEntriesList }}
                                </br>
                                <span ng-show="vm.armyList.showTroopOptionDescriptions"><em>{{ troopOption.description }}</em></span>
                            </td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'single'">{{ troopOption.min }}</td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'double'">{{ troopOption.minDouble }}</td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'triple'">{{ troopOption.minTriple }}</td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'single'">{{ troopOption.max }}</td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'double'">{{ troopOption.maxDouble }}</td>
                            <td class="troop-options-minmax" ng-show="vm.armySize === 'triple'">{{ troopOption.maxTriple }}</td>

                            <td class="troop-options-restrictions">{{ troopOption.dateRange | mwDisplayDateRange }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="ally-army-list-link" ng-show="allyEntry.allyArmyList.armyListId">
                        Full Army List: {{ allyEntry.allyArmyList.name }}
                    </div>
                    <div class="ally-army-list-link" ng-hide="allyEntry.allyArmyList.armyListId">
                        Full Army List: not available
                    </div>
                    <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
                    <div class="error-table-message" ng-show="vm.loadFailed.armyList">Unable to retrieve ally option data</div>
                    <div class="empty-table-message" ng-show="allyEntry.allyArmyList.troopOptions.length === 0">No troop options entered</div>
                </div>
            </div>
            <div class="empty-table-message" ng-show="vm.loading.armyList">Loading...</div>
            <div class="error-table-message" ng-show="vm.loadFailed.armyList">Unable to retrieve ally option data</div>
            <div class="empty-table-message" ng-show="vm.allyOptions.length === 0">No ally options available</div>
        </div>
    </div>

<!-- Enemy Army Lists -->
<div class="row">
    <div class="col-xs-12">
        <h2>
            Enemies
            <div ng-repeat="enemyArmyList in vm.enemyArmyLists | orderBy:['name']">
                <small>
                    <a href ng-click="vm.onClickArmyList(enemyArmyList.id)">{{ enemyArmyList.derivedData.extendedName }}</a>
                </small>
            </div>
        </h2>
        <div class="empty-table-message" ng-show="vm.loading.enemyArmyLists">Loading...</div>
        <div class="error-table-message" ng-show="vm.loadFailed.enemyArmyLists">Unable to retrieve enemy army list data</div>
        <div class="empty-table-message" ng-show="vm.enemyArmyLists.length === 0">No enemies found</div>
    </div>
</div>

<!-- Related Army Lists -->
<div class="row">
    <div class="col-xs-12">
        <h2>
            Related Army Lists
            <div ng-repeat="associatedArmyList in vm.associatedArmyLists | orderBy:['name']">
                <small>
                    <a href ng-click="vm.onClickArmyList(associatedArmyList.id)">{{ associatedArmyList.derivedData.extendedName }}</a>
                </small>
            </div>
        </h2>
        <div class="empty-table-message" ng-show="vm.loading.associatedArmyLists">Loading...</div>
        <div class="error-table-message" ng-show="vm.loadFailed.associatedArmyLists">Unable to retrieve associated army list data</div>
        <div class="empty-table-message" ng-show="vm.associatedArmyLists.length === 0">No related army lists found</div>
    </div>
</div>

<!-- Thematic Categories -->
<div class="row">
    <div class="col-xs-12">
        <h2>
            Thematic Categories
            <div ng-repeat="thematicCategory in vm.thematicCategories">
                <small>
                    <a href ng-click="vm.onClickThematicCategory(thematicCategory.id)">{{ thematicCategory.name }}</a>
                </small>
            </div>
        </h2>
        <div class="empty-table-message" ng-show="vm.loading.thematicCategories">Loading...</div>
        <div class="error-table-message" ng-show="vm.loadFailed.thematicCategories">Unable to retrieve thematic category data</div>
        <div class="empty-table-message" ng-show="vm.thematicCategories.length === 0">No thematic categories found</div>
    </div>
</div>
</div>
