<div class="row">
    <div class="col-xs-12">
        <h1>
            <span ng-bind="vm.armyList.name"></span>
            <div ng-repeat="dateRange in vm.armyList.dateRanges">
                <small>
                    {{ dateRange.startDate | mwDisplayYear }}
                    <span ng-hide="dateRange.startDate === dateRange.endDate">to {{ dateRange.endDate | mwDisplayYear }}</span>
                </small>
            </div>
        </h1>
        <div class="empty-table-message" ng-show="vm.armyList.dateRanges.length === 0">No date ranges entered</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2 ng-class="vm.armyList.statusType">
            <span ng-bind="vm.armyList.statusDisplayText"></span>
            <span class="h4" ng-bind="vm.armyList.statusDisplaySubtext"></span>
        </h2>
        <div ng-hide="!vm.armyList.description">
            <div class="content-subheader">Description</div>
            <div>
                <span ng-bind="vm.armyList.description"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="content-subheader">Invasion Rating</div>
                <table class="army-list-rating">
                    <tr ng-repeat="rating in vm.armyList.invasionRatings">
                        <td class="army-list-rating">{{ rating.value }}</td>
                        <td class="army-list-rating-note">{{ rating.note }}</td>
                    </tr>
                </table>
                <div class="empty-table-message" ng-show="vm.armyList.invasionRatings.length === 0">No invasion ratings entered</div>
            </div>
            <div class="col-xs-12">
                <div class="content-subheader">Maneuver Rating</div>
                <table class="army-list-rating">
                    <tr ng-repeat="rating in vm.armyList.maneuverRatings">
                        <td class="army-list-rating">{{ rating.value }}</td>
                        <td class="army-list-rating-note">{{ rating.note }}</td>
                    </tr>
                </table>
                <div class="empty-table-message" ng-show="vm.armyList.maneuverRatings.length === 0">No maneuver ratings entered</div>
            </div>
            <div class="col-xs-12">
                <div class="content-subheader">Home Topography</div>
                <dl class="dl-horizontal-topo">
                    <div class="content-text-special" ng-repeat="topography in vm.armyList.homeTopographies">
                        <div>{{ topography | mwDisplayTopography }}</div>
                    </div>
                </dl>
                <div class="empty-table-message" ng-show="vm.armyList.maneuverRatings.length === 0">No topographies entered</div>
            </div>
            <div class="col-xs-12">
                <div class="content-subheader">General's Troop Type</div>
                <span class="content-text-special">{{ vm.armyList.troopEntriesForGeneral | mwDisplayTroopTypeEntriesList }}</span>
                <div class="empty-table-message" ng-show="vm.armyList.troopEntriesForGeneral.length === 0">General not entered</div>
            </div>
        </div>
        <div>
            <h2>Troop Options</h2>
            <table class="table troop-options">
                <tr>
                    <th class="troop-options-type">Troop Types</th>
                    <th class="troop-options-minmax">Min</th>
                    <th class="troop-options-minmax">Max</th>
                    <th class="troop-options-battleline">Battle Line?</th>
                    <th class="troop-options-restrictions">Restrictions</th>
                </tr>
                <tbody>
                    <tr ng-repeat="troopOption in vm.armyList.troopOptions">
                        <td class="troop-options-type">
                            {{ troopOption.troopEntries | mwDisplayTroopTypeEntriesList }}
                            </br>
                            <span ng-show="vm.armyList.showTroopOptionDescriptions"><em>{{ troopOption.description }}</em></span>
                        </td>
                        <td class="troop-options-minmax">{{ troopOption.min }}</td>
                        <td class="troop-options-minmax">{{ troopOption.max }}</td>
                        <td class="troop-options-battleline">{{ troopOption.core | mwDisplayCore }}</td>
                        <td class="troop-options-restrictions">
                            {{ troopOption.dateRange | mwDisplayDateRange }}
                            <span ng-if="troopOption.dateRange && troopOption.note"></br></span>
                            {{ troopOption.note }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="empty-table-message" ng-show="vm.armyList.troopOptions.length === 0">No troop options entered</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Ally Troop Options</h2>
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" ng-repeat="allyOption in vm.allyOptions">
                <uib-accordion-heading>
                    <div>
                        Option {{ $index + 1 }}:  {{ allyOption.name }}
                        <div>
                            <small>
                                {{ allyOption.dateRange.startDate | mwDisplayYear }}
                                <span ng-hide="allyOption.dateRange.startDate === allyOption.dateRange.endDate">to {{ allyOption.dateRange.endDate | mwDisplayYear }}</span>
                            </small>
                        </div>
                    </div>
                </uib-accordion-heading>
                <div ng-repeat="allyEntry in allyOption.allyEntries">
                    <h5 ng-hide="allyOption.allyEntries.length === 1">
                        {{ allyEntry.name }}
                    </h5>
                    <table class="table troop-options">
                        <tr>
                            <th class="troop-options-type">Troop Types</th>
                            <th class="troop-options-minmax">Min</th>
                            <th class="troop-options-minmax">Max</th>
                            <th class="troop-options-restrictions">Restrictions</th>
                        </tr>
                        <tbody>
                            <tr ng-repeat="troopOption in allyEntry.allyArmyList.troopOptions" ng-hide="troopOption.dateRange && troopOption.dateRange.invalid">
                                <td class="troop-options-type">
                                    {{ troopOption.troopEntries | mwDisplayTroopTypeEntriesList }}
                                    </br>
                                    <span ng-show="vm.armyList.showTroopOptionDescriptions"><em>{{ troopOption.description }}</em></span>
                                </td>
                                <td class="troop-options-minmax">{{ troopOption.min }}</td>
                                <td class="troop-options-minmax">{{ troopOption.max }}</td>
                                <td class="troop-options-restrictions">{{ troopOption.dateRange | mwDisplayDateRange }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="empty-table-message" ng-show="allyEntry.allyArmyList.troopOptions.length === 0">No troop options entered</div>
                </div>
            </div>
        </uib-accordion>
        <div class="empty-table-message" ng-show="vm.allyOptions.length === 0">No ally options available</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>
            Enemies
            <div ng-repeat="enemyArmyList in vm.enemyArmyLists | orderBy:['sortId', 'sublistId']">
                <small>
                    <a href ng-click="vm.onClickArmyList(enemyArmyList.id)">{{ enemyArmyList.derivedData.extendedName }}</a>
                </small>
            </div>
        </h2>
        <div class="empty-table-message" ng-show="vm.enemyArmyLists.length === 0">No enemies found</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>
            Related Army Lists
            <div ng-repeat="associatedArmyList in vm.associatedArmyLists | orderBy:['sortId', 'sublistId']">
                <small>
                    <a href ng-click="vm.onClickArmyList(associatedArmyList.id)">{{ associatedArmyList.derivedData.extendedName }}</a>
                </small>
            </div>
        </h2>
        <div class="empty-table-message" ng-show="vm.associatedArmyLists.length === 0">No related army lists found</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>
            Thematic Categories
            <div ng-repeat="thematicCategory in vm.thematicCategories">
                <small>
                    <a href ng-click="vm.onClickThematicCategory(thematicCategory.id)">{{ thematicCategory.name }}</a>
                </small>
            </div>
        </h2>
        <div class="empty-table-message" ng-show="vm.thematicCategories.length === 0">No thematic categories found</div>
    </div>
</div>
