<div class="content row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <h1>Battle Cards</h1>
        <div class="row">
            <div class="col-xs-12 col-md-7 col-lg-8">
                <p>
                    Battle cards provide special rules that can be used when playing with designated armies.
                    They capture some of the unique characteristics of these armies without burdening the main rules with lots of exceptions and special cases.
                </p>
                <p>
                    The army lists designate which armies and troops can use battle cards.
                </p>
                <div ng-repeat="battleCard in vm.battleCards | orderBy:'displayName'">
                    <div class="content-link" ng-show="battleCard.showInList">
                        <a href ng-click="vm.showBattleCardRule(battleCard.permanentCode)">{{ battleCard.displayName }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 hidden-xs hidden-sm">
                <img class="img-responsive" src="images/sample-battle-card.png">
            </div>
        </div>
    </div>
</div>
