<div class="content row">
    <div class="content-text col-md-4">
        <p>
            Meshwesh is an online tool for managing and exploring army lists. Its full implementation will include
            support for editing army lists, creating reports, exporting army list data (for use in other tools), and a
            range of features for exploring and working with army lists.
        </p>
        <p>
            In the future it will include army list calculators (simplifying the process of composing lists for a
            particular game) and an army gallery submitted by players.
        </p>
    </div>
    <div class="col-md-7">
        <img src="images/game-image-500.png">
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <img class="title-image" src="images/triumph-title.png" height="50" width="310">
    </div>
</div>
<div class="row">
    <div class="col-sm-4" ng-click="vm.showThematicCategorySummary()">
        <div class="summary-number">{{ vm.book.thematicCategoryCount }}</div>
        <div class="summary-text">Thematic Categories</div>
    </div>
    <div class="col-sm-4" ng-click="vm.showGrandArmyListSummary()">
        <div class="summary-number">{{ vm.book.grandArmyListCount }}</div>
        <div class="summary-text">Grand Army Lists</div>
    </div>
    <div class="col-sm-4" ng-click="vm.showArmyListSummary()">
        <div class="summary-number">{{ vm.book.armyListCount }}</div>
        <div class="summary-text">Army Lists</div>
    </div>
</div>
