<div class="row">
    <div class="col-md-12">
        <div class="content-header">Army List Manager</div>
        <div>Meshwesh is an online tool for managing and exploring army lists. Its full implementation will include
        support for editing army lists, creating reports, exporting army list data (for use in other tools), and a
            range of features for exploring and working with army lists. Possibilities include army list calculators
        (to make it easier for players to compose lists for a particular game) and maybe an army gallery submitted by
        players.</div>
    </div>
</div>
