<div class="content row troop-description">
    <div class="col-sm-12">
        <h1>Troop Types</h1>

        <div class="row">
            <div class="col-sm-12">
                <h2>Bow Armed Infantry</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>{{ vm.troopTypes['ARC'].displayName }}</h3>
                                <div class="troop-description-stat">{{ vm.troopTypes['ARC'].cost }} Points</div>
                                <div class="troop-description-stat">Open Order</div>
                            </div>
                            <div class="col-xs-6">
                                <img class="img-responsive" src="images/troopTypes/archers.png">
                            </div>
                            <div class="col-sm-12 troop-description-text">
                                {{ vm.troopTypes['ARC'].description }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>{{ vm.troopTypes['PAV'].displayName }}</h3>
                                <div class="troop-description-stat">{{ vm.troopTypes['PAV'].cost }} Points</div>
                                <div class="troop-description-stat">Close Order</div>
                            </div>
                            <div class="col-xs-6">
                                <img class="img-responsive" src="images/troopTypes/pavisiers.png">
                            </div>
                            <div class="col-sm-12 troop-description-text">
                                {{ vm.troopTypes['PAV'].description }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>{{ vm.troopTypes['SKM'].displayName }}</h3>
                                <div class="troop-description-stat">{{ vm.troopTypes['SKM'].cost }} Points</div>
                                <div class="troop-description-stat">Open Order</div>
                            </div>
                            <div class="col-xs-6">
                                <img class="img-responsive" src="images/troopTypes/skirmishers.png">
                            </div>
                            <div class="col-sm-12 troop-description-text">
                                {{ vm.troopTypes['SKM'].description }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>{{ vm.troopTypes['BLV'].displayName }}</h3>
                                <div class="troop-description-stat">{{ vm.troopTypes['BLV'].cost }} Points</div>
                                <div class="troop-description-stat">Open Order</div>
                            </div>
                            <div class="col-xs-6">
                                <img class="img-responsive" src="images/troopTypes/bow-levy.png">
                            </div>
                            <div class="col-sm-12 troop-description-text">
                                {{ vm.troopTypes['BLV'].description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
