<div class="content row troop-description">
    <div class="col-sm-12">
        <h1>Troop Types</h1>

        <div class="row">
            <div class="col-sm-12">
                <h2>Bow Armed Infantry</h2>
                <div class="row">
                    <troop-description troop="vm.troopTypes['ARC']" show-image="vm.showImage('ARC')"></troop-description>
                    <troop-description troop="vm.troopTypes['PAV']" show-image="vm.showImage('PAV')"></troop-description>
                </div>
                <div class="row">
                    <troop-description troop="vm.troopTypes['SKM']" show-image="vm.showImage('SKM')"></troop-description>
                    <troop-description troop="vm.troopTypes['BLV']" show-image="vm.showImage('BLV')"></troop-description>
                </div>
                <h2>Open Order Infantry</h2>
                <div class="row">
                    <troop-description troop="vm.troopTypes['LFT']" show-image="vm.showImage('LFT')"></troop-description>
                    <troop-description troop="vm.troopTypes['LSP']" show-image="vm.showImage('LSP')"></troop-description>
                </div>
                <div class="row">
                    <troop-description troop="vm.troopTypes['RDR']" show-image="vm.showImage('RDR')"></troop-description>
                    <troop-description troop="vm.troopTypes['WBD']" show-image="vm.showImage('WBD')"></troop-description>
                </div>
                <div class="row">
                    <troop-description troop="vm.troopTypes['RBL']" show-image="vm.showImage('RBL')"></troop-description>
                </div>
                <h2>Close Order Infantry</h2>
                <div class="row">
                    <troop-description troop="vm.troopTypes['EFT']" show-image="vm.showImage('EFT')"></troop-description>
                    <troop-description troop="vm.troopTypes['SPR']" show-image="vm.showImage('SPR')"></troop-description>
                </div>
                <div class="row">
                    <troop-description troop="vm.troopTypes['WRR']" show-image="vm.showImage('WRR')"></troop-description>
                    <troop-description troop="vm.troopTypes['HFT']" show-image="vm.showImage('HFT')"></troop-description>
                </div>
                <div class="row">
                    <troop-description troop="vm.troopTypes['PIK']" show-image="vm.showImage('PIK')"></troop-description>
                    <troop-description troop="vm.troopTypes['HRD']" show-image="vm.showImage('HRD')"></troop-description>
                </div>
                <h2>Mounted</h2>
                <div class="row">
                    <troop-description troop="vm.troopTypes['ECV']" show-image="vm.showImage('ECV')"></troop-description>
                    <troop-description troop="vm.troopTypes['HBW']" show-image="vm.showImage('HBW')"></troop-description>
                </div>
                <div class="row">
                    <troop-description troop="vm.troopTypes['JCV']" show-image="vm.showImage('JCV')"></troop-description>
                    <troop-description troop="vm.troopTypes['BAD']" show-image="vm.showImage('BAD')"></troop-description>
                </div>
                <h2>Heavy Mounted</h2>
                <div class="row">
                    <troop-description troop="vm.troopTypes['KNT']" show-image="vm.showImage('KNT')"></troop-description>
                    <troop-description troop="vm.troopTypes['CAT']" show-image="vm.showImage('CAT')"></troop-description>
                </div>
                <h2>Chariots</h2>
                <div class="row">
                    <troop-description troop="vm.troopTypes['CHT']" show-image="vm.showImage('CHT')"></troop-description>
                    <troop-description troop="vm.troopTypes['BTX']" show-image="vm.showImage('BTX')"></troop-description>
                </div>
                <h2>Specialty Troops</h2>
                <div class="row">
                    <troop-description troop="vm.troopTypes['WWG']" show-image="vm.showImage('WWG')"></troop-description>
                    <troop-description troop="vm.troopTypes['ART']" show-image="vm.showImage('ART')"></troop-description>
                </div>
                <div class="row">
                    <troop-description troop="vm.troopTypes['ELE']" show-image="vm.showImage('ELE')"></troop-description>
                    <troop-description troop="vm.troopTypes['CML']" show-image="vm.showImage('CML')"></troop-description>
                </div>
            </div>
        </div>
    </div>
</div>
