<div class="row">
    <div class="col-md-12">
        <div class="content-header">Troop Type</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form name="vm.editTroopTypeForm">
            <div class="row">
                <div class="col-md-2">
                    <fieldset class="form-group">
                        <label for="inputPermanentCode">Permanent Code</label>
                        <input type="text" class="form-control" id="inputPermanentCode" placeholder="Code used internally" ng-model="vm.troopType.permanentCode" required>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <fieldset class="form-group">
                        <label for="inputDisplayName">Display Name</label>
                        <input type="text" class="form-control" id="inputDisplayName" placeholder="Name to display to users" ng-model="vm.troopType.displayName">
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <fieldset class="form-group">
                        <label for="inputDisplayCode">Display Code</label>
                        <input type="text" class="form-control" id="inputDisplayCode" placeholder="Code to display to users" ng-model="vm.troopType.displayCode">
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <fieldset class="form-group">
                        <label for="inputCost">Cost</label>
                        <select class="form-control" id="inputCost" ng-options="cost for cost in vm.costOptions" ng-model="vm.troopType.cost"></select>
                    </fieldset>
                </div>
                <div class="col-md-2">
                    <fieldset class="form-group">
                        <label for="inputCost">Category</label>
                        <select class="form-control" id="inputCategory" ng-options="category for category in vm.categoryOptions" ng-model="vm.troopType.category"></select>
                    </fieldset>
                </div>
            </div>
            <fieldset class="form-group">
                <label for="inputDisplayName">Display Name</label>
                <textarea class="form-control" id="inputDescription" placeholder="Description" ng-model="vm.troopType.description"></textarea>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="submit" class="btn save-btn" ng-click="vm.submit()" ng-disabled="vm.editTroopTypeForm.$invalid">Save Changes</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn delete-btn" ng-click="vm.delete()" ng-show="vm.delete">Delete Troop Type</button>
    </div>
</div>