/*

green: #588c7e
yellow: #f2e394
orange: #f2ae72
red: #d96459
darkRed: #8c4646

*/

/*

dark blue: #152737
medium blue: #2b4e69
light blue: #799aa5
off white: #fffff0
red brown: #682321

*/


body {
    padding-bottom: 50px;
}

.banner {
    background: #2b4e69;
    color: #ffffff;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 90px;
}

.banner img {
    border-width: 0;
    position: absolute;
    top:5px;
    left: 30px;
    width: 70px;
    height: 70px;
}

.banner-header {
    position: absolute;
    top: -10px;
    left: 115px;
    font-size: 3em;
    background: #2b4e69;
}

.banner-subheader {
    position: absolute;
    color: #ffffff;
    top: 52px;
    left: 115px;
    font-size: 1.2em;
    background: #2b4e69;
}

.banner-subheader:hover {
    color:#ffffff;
    text-decoration: none;
}

.banner-sign-in {
    position: absolute;
    color: #ffffff;
    top: 35px;
    right: 35px;
    font-size: 1.2em;
    background: #2b4e69;
}

.banner-sign-in:hover, .banner-sign-in:focus {
    color: #f0f0f0;
}

@media only screen and (max-width: 500px) {
    .banner-sign-in {
        display: none;
    }
}

h1 a:link, h1 a:visited, h3 a:link, h3 a:visited {
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    background: #799aa5;
}

.navbar li a {
    color: #ffffff;
    background: #799aa5;
}

.navbar ul {
    color: #ffffff;
    background: #799aa5;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #6f909b;
    border-color: #337ab7;
}

.navbar-nav li a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #6f909b;
}

.navbar-nav li a:focus {
    text-decoration: none;
    color: #ffffff;
    background: #799aa5;
}

.title-image {
    margin-top: 30px;
}

.summary-number {
    font-size: 80px;
    margin-bottom: -20px;
    cursor: pointer;
}

.summary-text {
    font-size: 20px;
    margin-top: 0px;
    cursor: pointer;
}

.content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-header {
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 2em;
}

.content-header2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.content-subheader {
    margin-top: 10px;
    font-weight: bold;
}

.table-subheader {
    margin-bottom: 15px;
}

.content-text {
    font-size: 1.2em;
}

.warning-text {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background: #d96459;
    color: #ffffff;
}

.content-link {
    font-size: 1.5em;
    margin-top: 10px;
}

.content-input {
    margin-top: 10px;
}

.data-table th {
    font-weight: normal;
    font-style: italic;
}

.save-btn {
    margin-top: 30px;
    background: #2b4e69;
    color: #ffffff;
}

.insert-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ffffff;
    color: #588c7e;
    border-color: #588c7e;
}

.browse-file-btn {
    background: #ffffff;
    color: #588c7e;
    border-color: #2b4e69;
}

.file-text {
    border-color: #2b4e69;
}

.delete-btn {
    margin-top: 40px;
    background: #ffffff;
    color: #d96459;
    border-color: #d96459;
}

.btn-primary {
    color: #ffffff;
    background-color: #2b4e69;
    border-color: #2b4e69;
}

.btn-warning {
    color: #ffffff;
    background-color: #f2ae72;
    border-color: #f2ae72;
}

.btn-danger {
    color: #ffffff;
    background-color: #d96459;
    border-color: #d96459;
}

.army-list-grid {
    width: 520px;
    height: 30px;
}

.army-list-report-grid {
    width: 740px;
    height: 30px;
}

.date-range-grid {
    width: 320px;
    height: 30px;
}

.rating-grid {
    width: 350px;
    height: 30px;
}

.troop-option-grid {
    width: 1170px;
    height: 30px;
}

.troop-type-grid {
    width: 320px;
    height: 30px;
}

.td-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-boolean-check {
    text-align:center;
}

.td-anchor {
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
}

.td-number {
    text-align: right;
}

.td-warn {
    background-color: #f2e394 !important;
}

.table-search-box {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #2b4e69;
}

.input-validation-error {
    color: #d96459;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

/* Hide the sort priority on the header */
.ui-grid-sort-priority-number{
    font-size: 0;
}

.sample-import {
    margin-top: 20px;
    margin-bottom: 20px;
}

.empty-table-message {
    margin-top: 15px;
    font-style: oblique;
}

#progress-bar {
    height: 24px;
}

#loading-bar-spinner {
    position: relative;
}

#loading-bar .bar {
    position: relative;
    height: 4px;
}

.dl-horizontal-rating dt {
    float: left;
    width: 25px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal-rating dd {
    margin-left: 45px;
}