/*

green: #588c7e
yellow: #f2e394
orange: #f2ae72
red: #d96459
darkRed: #8c4646

*/


body {
    padding-bottom: 50px;
}

.banner {
    background: #8c4646;
    color: #ffffff;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 90px;
}

.banner img {
    border-width: 0px;
    position: absolute;
    top:5px;
    left: 30px;
    width: 70px;
    height: 70px;
}

.banner h1 {
    position: absolute;
    top: -10px;
    left: 115px;
    font-size: 3em;
    background: #8c4646;
}

.banner h3 {
    position: absolute;
    top: 35px;
    left: 115px;
    font-size: 1.2em;
    background: #8c4646;
}

h1 a:link, h1 a:visited, h3 a:link, h3 a:visited {
    color: #ffffff;
    text-decoration: none;
}

#navbar {
    background: #588c7e;
    color: #ffffff;
}

#navbar li a {
    color: #ffffff;
    background: #588c7e;
}

#navbar ul {
    color: #ffffff;
    background: #588c7e;
}

#navbar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #d96459;
}

#navbar-nav li {
    text-indent: 20px;
    line-height: 40px;
    background: #d96459;
}

#navbar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    background: #d96459;
}

#navbar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.content-header {
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 2em;
}

.content-subheader {
    margin-top: 15px;
    font-weight: bold;
}

.content-link {
    font-size: 1.5em;
    margin-top: 10px;
}

.content-input {
    margin-top: 10px;
}

.data-table th {
    font-weight: normal;
    font-style: italic;
}

.save-btn {
    margin-top: 30px;
    background: #588c7e;
    color: #ffffff;
}

.insert-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ffffff;
    color: #588c7e;
    border-color: #588c7e;
}

.browse-file-btn {
    background: #ffffff;
    color: #588c7e;
    border-color: #588c7e;
}

.file-text {
    border-color: #588c7e;
}

.delete-btn {
    margin-top: 40px;
    background: #ffffff;
    color: #d96459;
    border-color: #d96459;
}

.btn-primary {
    color: #ffffff;
    background-color: #588c7e;
    border-color: #588c7e;
}

.btn-warning {
    color: #ffffff;
    background-color: #f2ae72;
    border-color: #f2ae72;
}

.btn-danger {
    color: #ffffff;
    background-color: #d96459;
    border-color: #d96459;
}

.army-list-grid {
    width: 520px;
    height: 30px;
}

.army-list-report-grid {
    width: 740px;
    height: 30px;
}

.date-range-grid {
    width: 320px;
    height: 30px;
}

.rating-grid {
    width: 350px;
    height: 30px;
}

.troop-option-grid {
    width: 1170px;
    height: 30px;
}

.troop-type-grid {
    width: 320px;
    height: 30px;
}

.td-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-boolean-check {
    text-align:center;
}

.td-anchor {
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
}

.td-number {
    text-align: right;
}

.td-warn {
    background-color: #f2e394 !important;
}

.table-search-box {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #588c7e;
}

.input-validation-error {
    color: #d96459;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

/* Hide the sort priority on the header */
.ui-grid-sort-priority-number{
    font-size: 0;
}

.sample-import {
    margin-top: 20px;
    margin-bottom: 20px;
}

.empty-table-message {
    margin-top: 15px;
    font-style: oblique;
}

#progress-bar {
    height: 24px;
}

#loading-bar-spinner {
    position: relative;
}

#loading-bar .bar {
    position: relative;
    height: 4px;
}

