.banner {
    background: #8c4646;
    color: #ffffff;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 90px;
}

.banner img {
    border-width: 0px;
    position: absolute;
    top:5px;
    left: 30px;
    width: 70px;
    height: 70px;
}

.banner h1 {
    position: absolute;
    top: -10px;
    left: 115px;
    font-size: 3em;
    background: #8c4646;
}

.banner h3 {
    position: absolute;
    top: 35px;
    left: 115px;
    font-size: 1.2em;
    background: #8c4646;
}

h1 a:link, h1 a:visited, h3 a:link, h3 a:visited {
    color: #ffffff;
    text-decoration: none;
}

#navbar {
    background: #588c7e;
    color: #ffffff;
}

#navbar li a {
    color: #ffffff;
    background: #588c7e;
}

#navbar ul {
    color: #ffffff;
    background: #588c7e;
}

#navbar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #d96459;
}

#navbar-nav li {
    text-indent: 20px;
    line-height: 40px;
    background: #d96459;
}

#navbar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    background: #d96459;
}

#navbar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.content-header {
    margin-top: 40px;
    font-size: 2em;
}

.content-subheader {
    font-weight: bold;
}

.content-link {
    font-size: 1.5em;
    margin-top: 10px;
}

.content-input {
    margin-top: 10px;
}

.data-table th {
    font-weight: normal;
    font-style: italic;
}

.save-btn {
    margin-top: 30px;
    background: #588c7e;
    color: #ffffff;
}

.insert-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ffffff;
    color: #588c7e;
    border-color: #588c7e;
}

.delete-btn {
    margin-top: 40px;
    background: #ffffff;
    color: #ff0000;
    border-color: #ff0000;
}

.date-range-grid {
    width: 320px;
    height: 2000px;
}

.td-btn {
    text-align:center;
    vertical-align: middle;
}

.input-validation-error {
    color: #ff0000;
}
