<div class="modal-header">
    <h3 class="battle-card-title modal-title">{{ vm.viewHeading }}</h3>
</div>
<div class="battle-card-body modal-body">
    <h3>AMBUSH</h3>
    <h4>Rules Change</h4>
    <p>
        Allows open order foot to be deployed with more flexibility.  They may be deployed as normal; alternatively, they may be deployed as follows (all the below must be true):
        <ul>
            <li>At least partially in difficult terrain
            <li>Outside the enemy deployment zone
            <li>At least 1mu from any enemy stands
        </ul>
    </p>
    <p>
        In Grand Triumph this battle card allows stands from a command to ignore the restriction that they must deploy within command-control range of the general of their command, but if out of command control of their general, they must be closer to the general of their command than they are to any other friendly general.
    </p>
    <p>
        This battle card does not negate rule 26 (Center Deployment); rule 26 must be fulfilled before any troops use this deployment flexibility.
    </p>
    <h4>Timing</h4>
    <p>
        The choice to use this battle card is made when troops are deployed.
    </p>
    <h4>Cost</h4>
    <p>
        1 point.
    </p>
</div>
