<div class="modal-header">
    <h3 class="battle-card-title modal-title">{{ vm.viewHeading }}</h3>
</div>
<div class="battle-card-body modal-body">
    <h3>CAMEL PROTECTED INFANTRY</h3>
    <h4>Rules Change</h4>
    <p>
        Camel Protected Infantry fight in all respects as their normal stand type, except that they gain the following:
        <ul>
            <li>+1 in melee combat against Knights, Elephants, and Cataphracts.  This bonus does not apply when fighting Charging Camelry (rated as Knights) or Armored Camelry (rated as Cataphracts).
        </ul>
    </p>
    <h4>Timing</h4>
    <p>
        This battle card has a continuous effect throughout the battle.
    </p>
    <h4>Cost</h4>
    <p>
        +½ point per stand (rounded down – a single stand would cost +0 pts).
    </p>
</div>
