<div class="modal-header">
    <h3 class="battle-card-title modal-title">{{ vm.viewHeading }}</h3>
</div>
<div class="battle-card-body modal-body">
    <h3>CHARGE THROUGH</h3>
    <h4>Rules Change</h4>
    <p>
        A group of the mounted stand type designated in the army list may move through a group of the designated close-order foot type as if those foot were open order.
    </p>
    <h4>Timing</h4>
    <p>
        The choice to use this ability is made in the friendly movement phase.
    </p>
    <p>
        This is an event card, usable once only; flip the card upside down to mark that it is no longer available for use in the current battle.
    </p>
    <p>
        Cards are expended when played.  The effect ends after the group move and has no impact on pass-through, fall-back, or any other interpenetration before or after they are played.
    </p>
    <h4>Cost</h4>
    <p>
        1 point per battle card (2 cards maximum).
    </p>
</div>
