<div class="modal-header">
    <h3 class="battle-card-title modal-title">{{ vm.viewHeading }}</h3>
</div>
<div class="battle-card-body modal-body">
    <h3>DEPLOYMENT DISMOUNTING</h3>
    <h4>Rules Change</h4>
    <p>
        Certain troop types are marked in the army lists as having a mounted type and an foot (dismounted) type.  When these stands are deployed on the battlefield their owner may choose to deploy each stand as either its mounted or foot type.
    </p>
    <p>
        Different stands must be used for the two types, with appropriate basing and figures.
    </p>
    <p>
        Stands may not dismount (change from mounted to infantry) at any other point in the game.
    </p>
    <p>
        Dismounted stands may not remount (change to their mounted type) during the battle.
    </p>
    <h4>Timing</h4>
    <p>
        The choice to use this ability is made at deployment.
    </p>
    <h4>Cost</h4>
    <p>
        +½ point per stand (rounded up).  If the two stand types are different costs, the base cost (before modification) is the greater of the two costs.  For example, a stand of Bad Horse (3pts) that can dismount as Elite Foot (4pts) would cost 4.5 points each.
    </p>
    <p>
        This is an “all or none” ability – if a given line in the army list allows the ability, it must be purchased for all such stands or for none of them.  If different lines in the same army list allow this battle card, the choice may be made separately for each line.
    </p>
</div>
