<div class="modal-header">
    <h3 class="battle-card-title modal-title">{{ vm.viewHeading }}</h3>
</div>
<div class="battle-card-body modal-body">
    <h3>FORTIFIED CAMP</h3>
    <h4>Rules Change</h4>
    <p>
        The camp is +2 to camp defense over normal values.  A stand of garrison troops may still be used in addition; loss of the camp is normal.
    </p>
    <h4>Timing</h4>
    <p>
        The choice to use this ability is made at deployment.
    </p>
    <h4>Cost</h4>
    <p>
        1 point.
    </p>
</div>
