<div class="modal-header">
    <h3 class="battle-card-title modal-title">{{ vm.viewHeading }}</h3>
</div>
<div class="battle-card-body modal-body">
    <h3>HOLD THE LINE</h3>
    <h4>Rules Change</h4>
    <p>
        Prevents one stand from following up after one combat.
    </p>
    <p>
        Can only be applied to troop types marked in the army list with this ability, usually Elite Foot.
    </p>
    <h4>Timing</h4>
    <p>
        The choice to use this ability is made after the combat result is computed and applied, before the next combat.
    </p>
    <p>
        This is an event card and is expended when used; flip the card upside down to mark that it is no longer available for use in the current battle.
    </p>
    <h4>Cost</h4>
    <p>
        0 points for the first such battle card; 1 point each for any subsequent ones.
    </p>
</div>
