<div class="battle-card-modal">
    <div class="battle-card-header modal-header">
        <h3 class="battle-card-title modal-title">{{ vm.viewHeading }}</h3>
        <button type="button" class="battle-card-close close" ng-click="vm.cancel()" aria-label="Close">&times;</button>
    </div>
    <div class="battle-card-body modal-body">
        <h3>PLAUSTRELLA</h3>
        <h4>Rules Change</h4>
        <p>
            Stands equipped with portable anti-mounted barriers are designated in the army lists.  All such designated troops fight as follows:
        <ul>
            <li>Fight as Heavy Foot in all respects except as noted below.  This includes the Ghurid troops who would normally be Light Spear if not equipped with karwah.
            <li>Are based on square bases (same as Horde) with the troops and mobile barriers modeled appropriately on the base.
            <li>Have a movement rate of 2mu.
            <li>Receive a +2 modifier in close combat against mounted.  This modifier does not apply if they are attacked in the flank or rear.
            <li>Receive a +1 modifier defending in ranged combat.  This modifier does not apply when shot from behind.
            <li>Are Shattered if beaten by Elephants.
        </ul>
        </p>
        <h4>Timing</h4>
        <p>
            The choice to use this battle card is made when the stand is deployed.
        </p>
        <h4>Cost</h4>
        <p>
            +1 point per stand.
        </p>
    </div>
</div>
