<div class="modal-header">
    <h3 class="battle-card-title modal-title">{{ vm.viewHeading }}</h3>
</div>
<div class="battle-card-body modal-body">
    <h3>SHOWER SHOOTING</h3>
    <h4>Rules Change</h4>
    <p>
        Elite Cavalry or Cataphracts with this battle card gain the ability to attack enemy stands in ranged combat as follows:
        <ul>
            <li>They have an offensive missile combat factor of +2.
            <li>They may not attack using distant shooting if they moved that turn.  They may attack in the enemy’s turn, or if they did not move on their own turn.
            <li>All ranged combat rules apply as normal.
        </ul>
    </p>
    <h4>Timing</h4>
    <p>
        This battle card has a continuous effect throughout the battle.
    </p>
    <h4>Cost</h4>
    <p>
        +1 point per stand.
    </p>
    <p>
        This is an “all or none” ability.
    </p>
</div>
