<div class="battle-card-modal">
    <div class="battle-card-header modal-header">
        <h3 class="battle-card-title modal-title">{{ vm.viewHeading }}</h3>
        <button type="button" class="battle-card-close close" ng-click="vm.cancel()" aria-label="Close">&times;</button>
    </div>
    <div class="battle-card-body modal-body">
        <h3>SEPARATED VALETS</h3>
        <h4>Rules Change</h4>
        <p>
            Two stands of Knights that can dismount as Elite Foot (Burgundian mixed men-at-arms and valets) are replaced for this battle with one stand of Elite Foot (Burgundian men-at-arms fighting dismounted) and one stand of Javelin Cavalry (Burgundian valets deployed separately from their normal use).
        </p>
        <h4>Timing</h4>
        <p>
            The choice to use this ability is made at deployment.
        </p>
        <h4>Cost</h4>
        <p>
            None.
        </p>
        <p>
            This is a free army ability, so long as the other conditions are met.
        </p>
    </div>
</div>
