<div class="app-banner">
    <div class="container">
        <div ng-controller="BannerController as vm">
            <div class="row">
                <div class="col-xs-10">
                    <a href="#/home"><img src="images/meshwesh-banner.png"></a>
                </div>
                <div class="col-xs-2">
                    <p id="signInLink" class="app-banner-signin hidden-xs" ng-click="vm.toggleSignIn()">
                        <span ng-show="!vm.user.token">Sign In</span>
                        <span ng-show="vm.user.token">Sign Out</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
