<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="#/home">Home</a></li>
        <li uib-dropdown on-toggle="toggled(open)">
            <a id="army-list-data-dropdown" href="#" uib-dropdown-toggle data-toggle="dropdown" role="button">Army List Data <span class="caret"></span></a>
            <ul class="uib-dropdown-menu">
                <li><a id="thematic-category-summary-link" href="#/thematicCategory/summary">Thematic Categories</a></li>
                <li><a id="grand-army-list-summary-link" href="#/grandArmyList/summary">Grand Army Lists</a></li>
                <li><a id="army-list-summary-link" href="#/armyList/summary">Army Lists</a></li>
                <li><a id="troop-type-summary-link" href="#/troopType/summary">Troop Types</a></li>
            </ul>
        </li>
        <li uib-dropdown on-toggle="toggled(open)">
            <a href="#" uib-dropdown-toggle data-toggle="dropdown" role="button">Report <span class="caret"></span></a>
            <ul class="uib-dropdown-menu">
                <li><a href="#">not implemented</a></li>
            </ul>
        </li>
        <li uib-dropdown on-toggle="toggled(open)">
            <a href="#" uib-dropdown-toggle data-toggle="dropdown" role="button">Import <span class="caret"></span></a>
            <ul class="uib-dropdown-menu">
                <li><a id="import-grand-army-lists-link" href="#/grandArmyList/import">Grand Army Lists</a></li>
                <li><a id="import-army-lists-link" href="#/armyList/import">Army Lists</a></li>
                <li><a id="import-army-list-troops-link" href="#/troopOptions/import">Army List Troop Options</a></li>
                <li><a id="import-troop-types-link" href="#/troopType/import">Troop Types</a></li>
            </ul>
        </li>
        <li uib-dropdown on-toggle="toggled(open)">
            <a href="#" uib-dropdown-toggle data-toggle="dropdown" role="button">Export <span class="caret"></span></a>
            <ul class="uib-dropdown-menu">
                <li><a href="#">not implemented</a></li>
            </ul>
        </li>
    </ul>
</div>
