<div ng-controller="NavbarController as vm">

    <div ng-show="vm.user.role === 'visitor'">
        <div id="navbarVisitor" class="navbar-bar navbar-collapse collapse">

        </div>
    </div>

    <div ng-show="vm.user.role === 'editor'">
        <div id="navbarAdmin" class="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li uib-dropdown on-toggle="toggled(open)">
                    <a id="army-list-data-dropdown" href uib-dropdown-toggle role="button">Army List Data <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a id="thematic-category-summary-link" href="/thematicCategory/summary">Thematic Categories</a></li>
                        <li><a id="grand-army-list-summary-link" href="/grandArmyList/summary">Grand Army Lists</a></li>
                        <li><a id="army-list-summary-link" href="/armyList/summaryEdit">Army Lists</a></li>
                        <li><a id="troop-type-summary-link" href="/troopType/summary">Troop Types</a></li>
                    </ul>
                </li>
                <li uib-dropdown on-toggle="toggled(open)">
                    <a href uib-dropdown-toggle role="button">Report <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a id="report-army-list-min-max-link" href="/report/armyListMinMax">Army List Min/Max</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="vm.user.role === 'admin'">
        <div id="navbarAdmin" class="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li uib-dropdown on-toggle="toggled(open)">
                    <a id="army-list-data-dropdown" href uib-dropdown-toggle role="button">Army List Data <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a id="thematic-category-summary-link" href="/thematicCategory/summaryEdit">Thematic Categories</a></li>
                        <li><a id="grand-army-list-summary-link" href="/grandArmyList/summary">Grand Army Lists</a></li>
                        <li><a id="army-list-summary-link" href="/armyList/summaryEdit">Army Lists</a></li>
                        <li><a id="troop-type-summary-link" href="/troopType/summary">Troop Types</a></li>
                    </ul>
                </li>
                <li uib-dropdown on-toggle="toggled(open)">
                    <a href uib-dropdown-toggle role="button">Report <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a id="report-army-list-min-max-link" href="/report/armyListMinMax">Army List Min/Max</a></li>
                    </ul>
                </li>
                <li uib-dropdown on-toggle="toggled(open)">
                    <a href uib-dropdown-toggle role="button">Import <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a id="import-thematic-categories-link" href="/thematicCategory/import">Thematic Categories</a></li>
                        <li><a id="import-grand-army-lists-link" href="/grandArmyList/import">Grand Army Lists</a></li>
                        <li><a id="import-army-lists-link" href="/armyList/import">Army Lists</a></li>
                        <li><a id="import-army-list-troops-link" href="/troopOptions/import">Army List Troop Options</a></li>
                        <li><a id="import-army-list-enemies-link" href="/armyListEnemies/import">Army List Enemies</a></li>
                        <li><a id="import-troop-types-link" href="/troopType/import">Troop Types</a></li>
                    </ul>
                </li>
                <li uib-dropdown on-toggle="toggled(open)">
                    <a href uib-dropdown-toggle role="button">Export <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a href="">not implemented</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
